Source: cassandrabackupservice
Maintainer: ONZRA <info@onzra.com>
Section: python
Priority: optional
Build-Depends: python3 (>= 3.8), debhelper (>= 9)
Standards-Version: 3.9.5

Package: cassandrabackupservice
Architecture: any
Depends: python3 (>= 3.8)
Description: Save and restore incremental and full snapshot backups of Cassandra keyspaces and columnfamilies to AWS.

